
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

/* general styling */

body {
    background: #0d0d2b;
    color: whitesmoke;
    margin: auto;
    width: 42em;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 100%;
    line-height: 150%;
    padding-bottom: 3%;
}


h1, h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

h1 { font-size: 175% }
h2 { font-size: 125% }
h3 { font-size: 100% }


table {
    padding-left: 5%;
}

th { text-align: left }
th[rowspan] { vertical-align: top }
th, td { padding: 1px 10px 1px 10px }

/* styling header */

/* style header (which contains title name and navigation bar) */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5% 0px 1% 0px;
    margin: auto;
    width: 42em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

/* styling title name */
#title-name {
    font-size: 200%;
    text-decoration: none;
    font-weight: 1000;
    color: whitesmoke;
}

/* styling navigation bar */
#nav a {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    padding: 10px;
}

#nav a:hover {
    padding: 10px;
    text-decoration: underline;
}


/* styling headshot (for some reason, it's rather huge) */
img#head {
    max-width: 200px; 
    height: 275px;
    padding: 10px;
}


/* random bits and bobs */ 

/* styling unordered lists */
p + ul {
    margin-top: -10px;
}


/* styling class for unordered lists (ul) without bullets */
.no_bullets {
    list-style-type: none;
}


/* stlying links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

